*~
.*~
\#*
*.elc
*.old
*.patch
*.log
*.zip
*.tar
*.bz2
*.gzip

.Xdefaults
.Xresources
.aspell.en.prepl
.aspell.en.pws
.bash_history
.emacs.d/
.gnupg/
.lesshst
.plan
.ssh/
.vim/
.viminfo
Adobe/
Allscripts_Healthcare_Sol/
Atom/
Code/
ConEmu (2).xml
Devart/
DotFiles-b4-merge-2018-02-19/
Dropbox/
FreeOrion/
GIMP/
Glimpse/
ICAClient/
ISIS Drivers/
Intel/
JetBrains/
KeePassX/
LibreOffice/
Lisp - Copy*/
Lisp/CVS/
Lisp/Merge/
Lisp/align-old.el
Lisp/bookmark+*
Lisp/group-config-hacked.el
Lisp/group-config.el.1.46
Lisp/group-config.el.chgd
Lisp/htmlize.el
Lisp/jde-2.1.5/
Lisp/python-mode.el
Lisp/semantic.cache
Lisp/vbnet-mode.el
Macromedia/
MiKTeX/
Microsoft/
Mozilla/
Notepad++/
NuGet/
Personal/
PhishMe/
PowerShell Tools for Visual Studio/
Scene Builder/
Skype/
Snoop/
SvcTraceViewer.exe.settings
TeXstudio/
Teams/
Ubitsoft/
VSColorOutput/
VSee/
VSeeInstall/
Visual Studio Setup/
Webex/
Wireshark/
Work/
WorkNot/
brave/
cabal/
combined (2).ahk
ghc/
inkscape/
jupyter/
local/bin/
npm-cache/
npm/
org/
pgAdmin/
public_html/
vstelemetry/
yWorks/
